html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  z-index: -1;
  transform: scale(2, 2);
  display: block;
  border: 1px solid black;
}

img {
  border: 1px solid black;
}
