html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  z-index: -1;
  display: block;
  border: 1px solid black;
  margin: 0;
  padding: 0;
}

img {
  border: 1px solid black;
  display: block;
  margin: 0;
  padding: 0;
}
